import 'package:flutter_riverpod/flutter_riverpod.dart';

final ${feature_variable_case}RepositoryProvider = Provider.autoDispose<${feature_pascal_case}Repository>(
    (ref) => ${feature_pascal_case}RepositoryImpl(),
);

abstract class ${feature_pascal_case}Repository {}

class ${feature_pascal_case}RepositoryImpl extends ${feature_pascal_case}Repository {}
